.user-box {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #485563;
}

.astro-logo {
  display: block;
  width: 150px;
  transition: opacity 400ms ease;
}
.astro-logo:hover {
  opacity: .6;
}

.ng-scope
.filter-users {
  background-color: rbg(10, 10, 10);
  background-color: rbga(255, 255, 255, 0.1);
}

.filter-dropdown {
  overflow: hidden;
}
.filter-dropdown li {
  cursor: pointer;
}
.filter-dropdown li:hover {
  background: #485563;
}
.filter-dropdown li input {
  margin-left: -15px;
  display: none;
}
.filter-dropdown li label {
  width: 100%;
  cursor: pointer;
  margin: 0 0;
  padding: 5px 10px;
}
.filter-dropdown li input[type="radio"]:checked + label {
  background: #485563;
  font-weight: bold;
}

.user-box:hover .user-image {
  opacity: 1;
}

.user-image {
  width: 100%;
  max-width: 100%;
  transition: opacity 400ms ease;
  opacity: .8;
}

.user-info-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 5px 14px 10px;
  background: #485563;
  background: rgba(0, 0, 0, 0.4);
}
.user-info-box h2 {
  color: #ebebeb;
  margin: 0;
}
.user-info-box .user-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: #4e5d6c;
  opacity: .6;
}
.user-info-box .user-status.online {
  background: #5cb85c;
}

#mod .u-tac {
  text-align: center;
}
#mod .u-tal {
  text-align: left;
}
#mod .u-tar {
  text-align: right;
}
#mod .u-np {
  padding: 0;
}
#mod .u-nm {
  margin: 0;
}
#mod .u-db {
  display: block;
}
#mod .u-dib {
  display: inline-block;
}
#mod .u-di {
  display: inline;
}
#mod .u-vat {
  vertical-align: top;
}
#mod .u-vam {
  vertical-align: middle;
}
#mod .u-vab {
  vertical-align: bottom;
}
#mod .u-pr {
  position: relative;
}
#mod .u-full {
  width: 100%;
}
#mod .u-mb1 {
  margin-bottom: 10px;
}
#mod .u-mb2 {
  margin-bottom: 20px;
}
#mod .u-mb3 {
  margin-bottom: 30px;
}
#mod .u-mb4 {
  margin-bottom: 40px;
}
#mod .u-mb5 {
  margin-bottom: 50px;
}
#mod .u-mt1 {
  margin-top: 10px;
}
#mod .u-mt2 {
  margin-top: 20px;
}
#mod .u-mt3 {
  margin-top: 30px;
}
#mod .u-mt4 {
  margin-top: 40px;
}
#mod .u-mt5 {
  margin-top: 50px;
}
#mod .u-pb1 {
  padding-bottom: 10px;
}
#mod .u-pb2 {
  padding-bottom: 20px;
}
#mod .u-pb3 {
  padding-bottom: 30px;
}
#mod .u-pb4 {
  padding-bottom: 40px;
}
#mod .u-pb5 {
  padding-bottom: 50px;
}
