<div class="container clearfix">
  <div class="row">

    <div class="col-md-4 col-md-offset-4">

      <form name="loginForm">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="u-tac">Login</h1>
          </div>
          <div class="panel-body">

           <div class="form-group">
            <label for="inputEmail" class="control-label u-db">Username</label>
            <input type="text" required="required" class="form-control" id="inputEmail" ng-model="user.username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="control-label u-db">Password</label>
            <input type="password" required="required" class="form-control" id="inputPassword" ng-model="user.password" placeholder="Password">
          </div>

          <div class="form-group u-mt2">
            <button type="submit" class="btn btn-primary u-db col-md-12 u-full" ng-click="loginUser(user, loginForm)" ng-disabled="loginForm.$invalid">Login</button>
          </div>
            <br />
          <div class="form-group u-mt2">
              <a href="/astro.html#/register" class="btn btn-primary u-db col-md-12 u-full">Click here to register</a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
</div>
