<div class="container clearfix" ng-controller="NotificationsController">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="u-tac">Send a message</h3>
                </div>
                <div class="panel-body">
                    <form name="sendMessageForm">
                        <div class="form-group">
                            <label for="content" class="control-label u-db">Content</label>
                            <input type="text" required="required" class="form-control" id="content" ng-model="message.content" placeholder="Content">
                        </div>
                        <div class="form-group">
                            <label for="description" class="control-label u-db">Description / URL</label>
                            <input type="text" required="required" class="form-control" id="description" ng-model="message.description" placeholder="Description">
                        </div>
                        <div class="form-group u-mt2">
                            <button type="submit" class="btn btn-primary u-db col-md-12 u-full" ng-click="send(message, sendMessageForm)" ng-disabled="sendMessageForm.$invalid">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h3 class="text-center">Waiting for notifications...</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="notification in notifications | orderBy: sort">
                        <a href="{{ notification.description }}">
                            <div class="panel text-center">
                        <span class="panel-body">
                            {{ notification.content }}
                        </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>