<div class="container clearfix">
    <h2>Register</h2>
    <form name="registrationForm">
        <label for="username">Username: </label>
        <input type="text" required id="username" ng-model="user.username" />
        <label for="password">Password: </label>
        <input type="text" required id="password" ng-model="user.password" />
        <button class="btn btn-default" ng-click="loginUser(user, registrationForm)" ng-disabled="registrationForm.$invalid">Register</button>
    </form>
</div>