<div class="container clearfix">
  <div class="row">

    <div class="col-md-4 col-md-offset-4">

      <form name="registrationForm">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="u-tac">Register</h1>
          </div>
          <div class="panel-body">

           <div class="form-group">
            <label for="inputEmail" class="control-label u-db">Username</label>
            <input type="text" class="form-control" id="inputEmail" ng-model="user.username" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="control-label u-db">Password</label>
            <input type="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="repeatPassword" class="control-label u-db">Repeat Password</label>
            <input type="password" class="form-control" id="repeatPassword" ng-model="user.password2" placeholder="Password">
          </div>

          <div class="form-group u-mt2">
            <button type="submit" class="btn btn-primary u-db col-md-12 u-full" ng-click="registerUser(user, registrationForm)" ng-disabled="registrationForm.$invalid">Register</button>
          </div>
          <br />
          <div class="form-group u-mt2">
              <a href="/astro.html/#/login" class="btn btn-primary u-db col-md-12 u-full">Click here to login</a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
</div>
