%none-user-select {
 -webkit-user-select: none;  /* Chrome all / Safari all */
 -moz-user-select: none;     /* Firefox all */
 -ms-user-select: none;      /* IE 10+ */

 /* No support for these yet, use at own risk */
 -o-user-select: none;
 user-select: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: $dark-blue;
}

.footer-titan {
  padding: 10px;
  background: $dark-blue;
}

.astro-logo {
  display: block;
  width: 150px;
  transition: opacity 400ms ease;

  &:hover {
    opacity: .6;
  }
}

.activity-row {
  color: #000;

  a {
    display: block;
    transition: background 400ms ease;
    padding: 10px;
    color: #fff;

    &:hover {
      background: rgba(#2B3E50, .5);
      text-decoration: none;
    }
  }

  h4 {
    display: inline-block;
    margin: 0;
  }

  .time {
    display: inline-block;
  }

  img {
    max-height: 40px;
  }
}
