.ng-scope
.filter-users {
  background-color: rbg(10, 10, 10);
  background-color: rbga(255, 255, 255, 0.1);
}

.filter-dropdown {
  overflow: hidden;

  li {
    cursor: pointer;

    &:hover {
      background: $dark-blue;
    }

    input {
      margin-left: -15px;
      display: none;
    }

    label {
      width: 100%;
      cursor: pointer;
      margin: 0 0;
      padding: 5px 10px
    }

    input[type="radio"]:checked+label {
      background: $dark-blue;
      font-weight: bold;
    }
  }
}
.user-box {
  @extend %none-user-select;

  &:hover .user-image {
    opacity: 1;
  }
}

.user-image {
  width: 100%;
  max-width: 100%;
  transition: opacity 400ms ease;
  opacity: .8;
}

$status-line-height: 4px;

.user-info-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 5px (10px + $status-line-height) 10px;
  background: $dark-blue;
  background: rgba(#000, .4);

  h2 {
    color: #ebebeb;
    margin: 0;
  }

  .user-status {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $status-line-height;
    background: $neutral;
    opacity: .6;

    &.online {
      background: $success;
    }
  }

}

.stat-box {
  background: $dark-blue;
  padding: 10px;
  overflow: hidden;
  margin: 20px 0;

  img {
    width: auto;
    max-width: 100%;
  }

  > h3 {
    margin: 0;
  }

  hr {
    margin: 10px 0 0 0;
  }

  .heart-stat {
    background: $failure;
    padding:5px;
  }

  .loc-stat {
    background: $success;
    padding:5px;
  }

}

.mission-progress {
  margin-top:20px;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top:10px;
    border-bottom: 3px solid darken($dark-blue, 10%);
    z-index: 1;
  }

  img {
    z-index: 2;
    position: absolute;
    transition: left 400ms ease;
    left:20px;
  }
}

.white-it {
  color: #fff;
  &:hover {
    color: #fff;
  }
}
