#mod {

  .u-mhfull {
    min-height: 100%;
  }

  .u-tac {
    text-align: center;
  }

  .u-tal {
    text-align: left;
  }

  .u-tar {
    text-align: right;
  }

  .u-np {
    padding: 0;
  }

  .u-nm {
    margin: 0;
  }

  .u-db {
    display: block;
  }

  .u-dib {
    display: inline-block;
  }

  .u-di {
    display: inline;
  }

  .u-vat {
    vertical-align: top;
  }

  .u-vam {
    vertical-align: middle;
  }

  .u-vab {
    vertical-align: bottom;
  }

  .u-pr {
    position: relative;
  }

  .u-full {
    width: 100%;
  }

  @for $i from 1 through 10 {
    .u-mb#{$i} {
      margin-bottom: 10px*$i;
    }
  }

  @for $i from 1 through 10 {
    .u-mt#{$i} {
      margin-top: 10px*$i;
    }
  }

  @for $i from 1 through 10 {
    .u-mr#{$i} {
      margin-right: 10px*$i;
    }
  }

  @for $i from 1 through 10 {
    .u-ml#{$i} {
      margin-left: 10px*$i;
    }
  }

  @for $i from 1 through 10 {
    .u-pb#{$i} {
      padding-bottom: 10px*$i;
    }
  }

  @for $i from 1 through 10 {
    .u-pt#{$i} {
      padding-top: 10px*$i;
    }
  }
}
