<div ng-switch on="activity.type">
    <div class="animate-switch" ng-switch-when="nasa">

    </div>
    <div class="animate-switch" ng-switch-when="image">
        <a href="/activities/details/{{ activity.id }}">
            <h3>{{ activity.title }}</h3>
            <img src="{{ activity.content }}" alt="activity image" />
        </a>
        <div>{{ activity.createdOn }}</div>
    </div>
    <div class="animate-switch" ng-switch-default>
        <a href="/activities/details/{{ activity.id }}">
            <h3>{{ activity.title }}</h3>
            <div>{{ activity.createdOn }}</div>
        </a>
    </div>
</div>