<div ng-switch on="activity.type">
    <div class="animate-switch" ng-switch-when="nasa">

    </div>
    <div class="animate-switch" ng-switch-when="image">
        <h3>{{ activity.title }}</h3>
        <img src="{{ activity.content }}" alt="activity image" />
        <div>{{ activity.createdOn }}</div>
    </div>
    <div class="animate-switch" ng-switch-default>
        <h3>{{ activity.title }}</h3>
        <div>{{ activity.content }}</div>
        <div>{{ activity.createdOn }}</div>
    </div>
</div>