

<div ng-switch on="activity.type">
    <div class="animate-switch" ng-switch-when="nasa">

    </div>
    <div class="animate-switch" ng-switch-when="image">
        <div class="stat-box">
            <h3 class="u-tac">{{ activity.title }}</h3>
        </div>
        <div class="stat-box">
            <img src="{{ activity.contentLarge }}" alt="activity image" class="u-full" />
        </div>
        <div class="stat-box">
            <span class="glyphicon glyphicon-time u-dib u-mr1"></span>
            <small>{{ activity.createdOn }}</small>
        </div>
    </div>
    <div class="animate-switch" ng-switch-default>
        <div class="stat-box">
            <h3 class="u-tac">{{ activity.title }}</h3>
        </div>
        <div class="stat-box">{{ activity.content }}</div>

        <div class="stat-box">
            <span class="glyphicon glyphicon-time u-dib u-mr1"></span>
            <small>{{ activity.createdOn }}</small>
        </div>
    </div>
</div>
