<div class="container clearfix" ng-controller="UserProfileController">

    <div class="row">
        <div class="col-sm-4 col-xs-4" >
          <div class="stat-box">
            <h3>
                {{ userData.name }}
            </h3>
        </div>

        <div class="stat-box">
            <img src="{{ userData.imageUrl }}" alt="user profile image" />
        </div>
    </div>

    <div class="col-sm-8 col-xs-8" >
        <div class="row">
            <div class="col-sm-10 col-xs-12" >
                <div class="stat-box">
                    Recent activities:
                    <hr>
                    <section class="userActivities">
                        <article ng-repeat="activity in userData.activities" activity-list-item-directive activity="activity" />
                    </section>
                    <hr>
                    <a href="/#/activities" class="u-dib u-mt1">See all activities</a>
                </div>

            </div>
            <div class="col-sm-2 col-xs-12" >
                <div class="stat-box">
                    <div class="heart-stat u-tac">
                        <span class="glyphicon glyphicon-heart u-db" style="font-size: 3.5em;"></span>
                        <strong>70</strong> bpm <span id="bpm-signal">.</span>
                    </div>
                </div>
                <div class="stat-box">
                    <div class="loc-stat u-tac">
                        <span class="glyphicon glyphicon-map-marker u-db" style="font-size: 3.5em;"></span>
                        <strong>space</strong>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="stat-box {{ useData.status | status }} u-mt1">
                    Mission progress:
                    <hr>
                    <div class="mission-progress">
                        <img src="../img/shuttle.png" id="TheShuttle" height="25" alt="" >
                    </div>
                    <div class="u-mt6">
                     <div class="pull-left">
                        <h6>Start: <strong class="u-db u-mt1">12.04/10:00:27</strong> </h6>
                    </div>
                    <div class="pull-right">
                        <h6>Expected End: <strong class="u-db u-mt1">12.04/16:12:27</strong> </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-6" >
        <div class="stat-box {{ useData.status | status }} u-mt1">
         <span class="glyphicon glyphicon-ok u-mr1"></span>
         <h5 class="u-di">{{ userData.status | status }}</h5>
     </div>
 </div>

</div>


</div>

</div>

<script>
$(function(){
        // alert('asd');
        var $Shuttle = $('#TheShuttle'),
        pixels = 20,
        count= 0;

        setInterval(
            function(){
                // alert("Hello")
                pixels = pixels + 1;
                count = count + 1

                $Shuttle.css('left', pixels+'px')
                if(count%5==0) {
                    // alert("asd")
                    // $('#bpm-signal').hide();
                } else {
                    // $('#bpm-signal').show();
                }
            },400
            );

    })
</script>
