<div class="container clearfix" ng-controller="UserProfileController">
    <section class="userData">
        <h3>{{ userData.username }}</h3>
        <img src="{{ userData.imageUrl }}" alt="user profile image" />
        <div>
            <span class="userStatus">{{ userData.status }}</span>
        </div>
    </section>
    <section class="userActivities">
        <article ng-repeat="activity in userData.activities">
            <div activity-details-directive activity="activity" />
        </article>
    </section>
</div>